name: Dispatch Issue to Repositories

on:
  issue_comment:
    types: [created]

jobs:
  dispatch:
    if: contains(github.event.comment.body, '@swibot')
    runs-on: ubuntu-latest
    steps:
      - name: Install GitHub CLI
        run: sudo apt-get install -y gh

      - name: Parse comment and dispatch issue
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          # Extract the comment body
          COMMENT_BODY="${{ github.event.comment.body }}"

          # Prepare the issue body with a reference to the parent issue
          ISSUE_BODY="This issue has been automatically created from the **Parent Issue:** https://github.com/${{ github.repository }}/issues/${{ github.event.issue.number }}"
          ISSUE_NUMBER=${{ github.event.issue.number }}
          ISSUE_TITLE="${{ github.event.issue.title }}"

          # Remove [FEATURE] : or [BUG] : and replace spaces with underscores
          CLEAN_TITLE=$(echo "$ISSUE_TITLE" | sed 's/\[[A-Z]\+\] : //g' | tr ' ' '_' | tr '[:upper:]' '[:lower:]')
          FORMATTED_BRANCH="feature/$ISSUE_NUMBER-$CLEAN_TITLE"

          # Loop over each line (repository)
          while IFS= read -r line; do
            # Extract repository and assignee (if any)
            REPO=$(echo "$line" | awk '{print $1}')
            ASSIGNEE=$(echo "$line" | grep -oP '@\K\w+')

            # Open an issue and capture the output
            NEW_ISSUE_URL=$(gh issue create --repo "UNIS-Svalbard-Weather-Information/$REPO" \
              --title "$ISSUE_TITLE" \
              --body "$ISSUE_BODY" \
              ${ASSIGNEE:+--assignee "$ASSIGNEE"})

            echo ${ASSIGNEE:+--assignee "$ASSIGNEE"})

            # Create a branch for the issue using the new issue URL
            gh issue develop "$NEW_ISSUE_URL" \
              --name "$FORMATTED_BRANCH"

          done <<< "$(echo "$COMMENT_BODY" | grep -v '@swibot' | grep -v '^$')"
